
/*view details*/
.oneline {
    padding-top: 20px;
    display: inline-block;
}

.alignLeft {
    margin-left: 50px;
    float: left;
}

.alignRight {
    margin-left: 50px;
    float: right;
}

/*view index*/
table tr td {
    height: 60px;
}

.table tr:hover{
    background-color: #f2f2f2;
}

.table td{
    padding: 20px;
}


/*all buttons*/
.button {
    text-decoration: none;
    font-size: 15px;
    color: #1fe8b6;
    padding: 5px 15px;
    border: 3px solid #1fe8b6;
    position: relative;
}

.button:hover{
    text-decoration: none;
    color: seagreen;
}

.button::before,
.button::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: inherit;
    transition: all .5s;
}

.button::before{
    top: -10px;
    left: -10px;
    border-width: 3px 0 0 3px;
}

.button::after{
    bottom: -10px;
    right: -10px;
    border-width: 0 3px 3px 0;
}

.button:hover::before,
.button:hover::after{
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    text-decoration: none;
}

